// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
@import 'app-variables';
// Font icon class
.fa {
  font-family: "fa-solid-900", "FontAwesome";
}

// Common page class
.page-content {

    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

.page {
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 50;
    color: white;
    horizontal-align: center;
}

.white-color {
    color: white;
    margin-top: 15;
}

.center {
    horizontal-align: center;
}

.page-login {
    background: #3C59FD no-repeat right bottom;
    background-size: contain;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
    color: white;
}

ActionBar .flagged {
  color: $flag-color;
}

ActionBar .action-bar-icons {
  horizontal-align: right;
  color: white;
  margin-right: 10;
}

Label {
    color: black;
    font-size: 18;
}

.result-passed {
  color: $passed;
    font-size: 40;
}

.result-failed {
  color: $incorrect;
    font-size: 40;
}

.timer {
    font-size: 20;
  color: $timer-color;
    margin-top: 5;
    margin-bottom: 5;
}

.selected {
    background-color: $selected-item;
    color: white;
    border-radius: 8;
}

.not-selected {
  background-color: $not-selected;
    color: black;
    border-radius: 8;
}

.margin {
    margin-left: 15;
    margin-right: 15;
}

.margin-all {
    padding: 15;
}

.all {
  background-color: $all;
    color: white;
    border-radius: 8;
}

@keyframes toBlue {
    from { background-color: white; }
    to { background-color: $selected-item; }
}

@keyframes toRed {
    from { background-color: white; }
    to { background-color: $incorrect; }
}


@keyframes toGreen {
    from { background-color: white; }
    to { background-color: $correct; }
}

.correct {
    animation-name: toGreen;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    color: white;
    border-radius: 8;
}

.incorrect {
    animation-name: toRed;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    color: white;
    border-radius: 8;
}

.skipped {
  background-color: $skipped;
    color: white;
    border-radius: 8;
}

.tbd {
  background-color: $tbd;
    color: white;
    border-radius: 8;
}

.drawer-header {
    color: white;
    font-size: 20;
  horizontal-align: left;
    vertical-align: bottom;
}

.exam-date-failed {
  color: $incorrect;
    font-size: 12;
    margin-top: 5;
    margin-left: 5;
    margin-bottom: 5;
}

.result-count-failed {
  color: $incorrect;
    font-size: 16;
    font-weight: bold;
    margin-left: 5;
    margin-bottom: 10;
}

.result-background {
    color: $accent-light;
}

.exam-date-passed {
  color: $passed;
    font-size: 11;
    margin-top: 5;
    margin-left: 5;
    margin-bottom: 5;
}

.result-count-passed {
  color: $passed;
    font-size: 16;
    font-weight: bold;
    margin-left: 5;
    margin-bottom: 10;
}

.progress-result-passed {
    color: $passed;
    font-weight: bold;
    font-size: 16;
    font-weight: bold;
}

.progress-result-failed {
  color: $incorrect;
  font-weight: bold;
    font-size: 16;
    font-weight: bold;
}

.progress-background {
    background-color: white;
    color: white;
}

.progress-heading {
    background-image: linear-gradient(to right, $accent-light, $accent-dark);
    color: white;
}

.item-title {
    background-color: rgba(0,0,0,0.4);
    vertical-align: bottom;
    padding: 16;
    font-size: 20;
}


.attempted{
    font-size: 20;
    color: blue;
}

.total{
    font-size: 20;
    color: blue;
}


.type{
    font-size: 10;
    color: blue;
}

.v-line {
    width: 5;
    height: 50;
    background-color: red;
}

.mock-stat{
    font-size: 20;
    color: blue;
}

.mock-type{
    font-size: 10;
    color: blue;
}

.option-hint {
  margin-top: 5;
  font-size: 15;
  color: red;
}